// =====================COLOR============================
$textColor: #555555;
$whiteColor: #fff;
$blackColor: #000;
$blueColor: #0000ff;
$greyPrimary: #bdc3c7;
$bluePrimary: #2c3e50;
$bodyColor: #fff;
$bgHeaderGradient: linear-gradient(to right, #bdc3c7, #2c3e50);
$bgOfferGradient: radial-gradient(#bdc3c7, #2c3e50);

// ------------------Dark Mode------------------
$darkBody: #4d4c5a;
$darkMain: #141529;
$darkSecond: #79788c;
$darkHover: #323048;
$darkText: #f8fbff;

$lightBody: #f3f8fe;
$lightMain: #fdfdfd;
$lightSecond: #c3c2c8;
$lightHover: #edf0f5;
$lightText: #151426;

$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$fontFamily: cursive;

// ====================FONT & TYPOGRAPHY====================
$bodyFont: "Roboto", sans-serif;
$smallFontSize: 1.4rem;
$normalFontSize: 1.6rem;
$bigFontSize: 1.8rem;
$h1FontSize: 3.6rem;
$h1LineHeight: 3.6rem;
$fontSizeHeading: 5rem;
$lineHeightHeading: 6rem;

// ======================FONT-WEIGHT========================
$nomalFontWeight: 400;

// =====================MARGIN============================
$mg0: 0rem;
$mg04: 0.4rem;
$mg08: 0.8rem;
$mg12: 1.2rem;
$mg20: 2rem;
$mg24: 2.4rem;
$mg25: 2.5rem;
$mg30: 3rem;
$mg40: 4rem;
$mg60: 6rem;
$mg80: 8rem;
$mg90: 9rem;
$mg100: 10rem;
